@charset "UTF-8";
[debug],
[debug] * {
  border: 1px solid black;
}

* {
  margin: 0;
  padding: 0;
}

* body {
  font-family: 'Segoe UI', SegoeUI, 'Microsoft YaHei', 微软雅黑, "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: white;
}

* body #headerArea {
  height: 10%;
}

* body #headerArea .theme-light {
  padding: 0 5%;
  height: 53px;
}

* body #headerArea .theme-light .c-gcontainer {
  width: 100%;
  height: 53px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

* body #headerArea .theme-light .c-gcontainer #uhfLogo {
  width: 10%;
  padding: 16px 6px 16px 10px;
  position: relative;
  top: -2px;
}

* body #headerArea .theme-light .c-gcontainer #uhfLogo .c-image {
  width: 108px;
  height: auto;
}

* body #headerArea .theme-light .c-gcontainer .c-show-pipe {
  width: 5%;
}

* body #headerArea .theme-light .c-gcontainer .c-show-pipe #uhfCatLogo {
  width: 20%;
  color: black;
  text-decoration: none;
  display: inline-block;
  padding: 16px 6px 16px 10px;
}

* body #headerArea .theme-light .c-gcontainer .c-show-pipe #uhfCatLogo span {
  font-size: 18px;
  font-weight: 600;
  position: relative;
  top: -2px;
}

* body #headerArea .theme-light .c-gcontainer #uhf-g-nav {
  width: 80%;
}

* body #headerArea .theme-light .c-gcontainer #uhf-g-nav .js-paddle-items {
  white-space: nowrap;
}

* body #headerArea .theme-light .c-gcontainer #uhf-g-nav .js-paddle-items .nested-menu {
  height: 53px;
  line-height: 53px;
  list-style: none;
  display: inline-block;
  float: left;
  margin-left: 20px;
}

* body #headerArea .theme-light .c-gcontainer #uhf-g-nav .js-paddle-items .nested-menu a {
  text-decoration: none;
  color: #262626;
  font-size: 13px;
}

* body #headerArea .theme-light .c-gcontainer #uhf-g-nav .js-paddle-items #shopping {
  border: 1px solid black;
  border-radius: 3px;
  padding: 5px;
  font-weight: 600;
}

* body #headerArea .theme-light .c-gcontainer .c-uhfh-actions {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 13px;
  padding-top: 18px;
}

* body #headerArea .theme-light .c-gcontainer .c-uhfh-actions .menu {
  width: 50%;
  height: 53px;
}

* body #headerArea .theme-light .c-gcontainer .c-uhfh-actions #meControl {
  width: 59%;
}

* body #headerArea .theme-light .c-gcontainer .c-uhfh-actions #meControl a {
  margin-left: 5px;
}

* body #primaryArea #primaryR1 {
  position: relative;
}

* body #primaryArea #primaryR1 .picture img {
  width: 100%;
}

* body #primaryArea #primaryR1 .picture-text {
  position: absolute;
  width: 88%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  color: white;
}

* body #primaryArea #primaryR1 .picture-text .text-inner {
  margin-top: 220px;
}

* body #primaryArea #primaryR1 .picture-text .text-inner .c-heading {
  margin-bottom: 15px;
}

* body #primaryArea #primaryR2 {
  margin: 0;
  padding: 0 5%;
  height: 515px;
}

* body #primaryArea #primaryR2 #coreui-banner {
  height: 162px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

* body #primaryArea #primaryR2 #coreui-banner .c-heading {
  margin-top: 50px;
  font-size: 34px;
  font-weight: 600;
}

* body #primaryArea #primaryR2 #coreui-banner .c-paragraph {
  margin-top: 30px;
  font-size: 20px;
}

* body #primaryArea #primaryR2 #coreui-contentplacement {
  height: 353px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

* body #primaryArea #primaryR2 #coreui-contentplacement .picture {
  width: 20%;
  margin: 0 12px;
  margin-top: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

* body #primaryArea #primaryR2 #coreui-contentplacement .picture img {
  width: 100%;
}

* body #primaryArea #primaryR2 #coreui-contentplacement .picture .c-paragraph {
  margin-top: 10px;
  white-space: wrap;
}

* body #primaryArea #primaryR4 {
  overflow: hidden;
  padding: 0 5%;
  height: 760px;
}

* body #primaryArea #primaryR4 #coreui-mosaic {
  height: 760px;
  margin-top: 40px;
}

* body #primaryArea #primaryR4 #coreui-mosaic .line1,
* body #primaryArea #primaryR4 #coreui-mosaic .line2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

* body #primaryArea #primaryR4 #coreui-mosaic .line1 .width-half,
* body #primaryArea #primaryR4 #coreui-mosaic .line2 .width-half {
  width: 50%;
  height: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

* body #primaryArea #primaryR4 #coreui-mosaic .line1 .width-half .theme-light,
* body #primaryArea #primaryR4 #coreui-mosaic .line2 .width-half .theme-light {
  width: 50%;
  position: relative;
}

* body #primaryArea #primaryR4 #coreui-mosaic .line1 .width-half .theme-light .text,
* body #primaryArea #primaryR4 #coreui-mosaic .line2 .width-half .theme-light .text {
  position: absolute;
  top: 0;
  height: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  font-size: 18px;
  padding: 0 12px;
}

* body #primaryArea #primaryR4 #coreui-mosaic .line1 .width-half .theme-light .text .c-subheading,
* body #primaryArea #primaryR4 #coreui-mosaic .line2 .width-half .theme-light .text .c-subheading {
  font-weight: 200;
}

* body #primaryArea #primaryR4 #coreui-mosaic .line1 .width-half .theme-light .text .c-group,
* body #primaryArea #primaryR4 #coreui-mosaic .line2 .width-half .theme-light .text .c-group {
  position: absolute;
  bottom: 20px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

* body #primaryArea #primaryR4 #coreui-mosaic .line1 .width-half .theme-light .text .c-group a,
* body #primaryArea #primaryR4 #coreui-mosaic .line2 .width-half .theme-light .text .c-group a {
  text-decoration: none;
  color: #000;
  font-size: 15px;
  font-weight: 700;
}

* body #primaryArea #primaryR4 #coreui-mosaic .line1 .width-half .theme-dark,
* body #primaryArea #primaryR4 #coreui-mosaic .line2 .width-half .theme-dark {
  width: 50%;
}

* body #primaryArea #primaryR4 #coreui-mosaic .line1 img,
* body #primaryArea #primaryR4 #coreui-mosaic .line2 img {
  width: 100%;
  height: 350px;
}

* body #primaryArea .line {
  padding: 0 60px;
}

* body #primaryArea #primaryR8 {
  padding: 0 12px;
  height: 190px;
}

* body #primaryArea #primaryR8 #core {
  height: 190px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

* body #primaryArea #primaryR8 #core .ul {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

* body #primaryArea #primaryR8 #core .ul .li {
  text-align: center;
}

* body #primaryArea #primaryR8 #core .ul .li .text-decolar {
  text-decoration: none;
}

* body #primaryArea #primaryR8 #core .ul .li .text {
  color: #005da6;
  font-weight: bold;
  font-size: 15px;
}

* body #primaryArea #R12 {
  padding: 0 5%;
  height: 233px;
}

* body #primaryArea #R12 .wenzi {
  width: 100%;
  height: 100px;
  padding-top: 40px;
  font-size: 15px;
  font-weight: 400;
}

* body #primaryArea #R12 .guanzhu {
  height: 81px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

* body #primaryArea #R12 .guanzhu span {
  position: relative;
  top: 5px;
  font-size: 14px;
  color: #666666;
}

* body #primaryArea #R12 .guanzhu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

* body #primaryArea #R12 .guanzhu ul .weixin,
* body #primaryArea #R12 .guanzhu ul .weibo {
  margin-left: 8px;
  list-style: none;
}

* body #primaryArea #R12 .guanzhu ul .weixin img,
* body #primaryArea #R12 .guanzhu ul .weibo img {
  width: 32px;
}

* body #bt-top {
  position: fixed;
  bottom: 24px;
  right: 24px;
  width: 40px;
  height: 40px;
  background: rgba(0, 0, 0, 0.1);
  opacity: 1;
  -webkit-transition: opacity 600ms;
  transition: opacity 600ms;
}

* body #bt-top a {
  text-decoration: none;
}

* body #bt-top a .go-top::before {
  content: "顶部";
  color: black;
  font-family: "MWF-MDL2";
}
/*# sourceMappingURL=windows电脑.css.map */