[debug],
[debug] * {
    border: 1px solid black;
}

* {
    margin: 0;
    padding: 0;

    body {
        font-family: 'Segoe UI', SegoeUI, 'Microsoft YaHei', 微软雅黑, "Helvetica Neue", Helvetica, Arial, sans-serif;
        background-color: white;

        // 导航栏
        #headerArea {
            height: 53px;

            .theme-light {
                padding: 0 5%; //内容居中，左右间距5%
                height: 53px;

                .c-gcontainer {
                    height: 53px;
                    display: flex;

                    // Microsoft
                    #uhfLogo {
                        width: 137px;
                        padding: 16px 6px 16px 10px;
                        position: relative;
                        top: -2px;

                        .c-image {
                            width: 108px;
                            height: auto;
                        }
                    }

                    // Windows
                    .c-show-pipe {
                        width: 110px;

                        #uhfCatLogo {
                            width: 91px;
                            color: black;
                            text-decoration: none;
                            display: inline-block;
                            padding: 16px 6px 16px 10px;

                            span {
                                font-size: 18px;
                                font-weight: 600;
                                position: relative;
                                top: -2px;
                            }
                        }
                    }

                    // Windows 10 ~ 购买
                    #uhf-g-nav {
                        width: 696px;

                        .js-paddle-items {
                            white-space: nowrap;

                            .nested-menu {
                                height: 53px;
                                line-height: 53px;
                                list-style: none;
                                display: inline-block;
                                float: left;
                                margin-left: 20px;

                                a {
                                    text-decoration: none;
                                    color: #262626;
                                    font-size: 13px;
                                }
                            }

                            #shopping {
                                border: 1px solid black;
                                border-radius: 3px;
                                padding: 5px;
                                font-weight: 600;
                            }


                        }
                    }

                    // 所有Microsoft ~ 搜索购物
                    .c-uhfh-actions {
                        width: 271px;
                        display: flex;
                        font-size: 13px;
                        padding-top: 18px;

                        .menu {
                            width: 143px;
                            height: 53px;
                        }

                        #meControl {
                            width: 120px;

                            a {
                                margin-left: 5px;
                            }
                        }
                    }

                }
            }
        }

        // 中间
        #mainContent {

            // 第一张大图及文字 
            .big-img {
                width: 1349px;
                height: 504px;
                position: relative;

                .c-image {
                    width: 100%;
                    height: 100%;
                }

                .introduce {
                    width: 408px;
                    height: 100%;
                    padding: 0 5%;
                    margin-left: 20px;
                    position: absolute;
                    top: 0;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;


                    .introduce-text {
                        .c-heading {
                            color: black;
                            font-size: 34px;
                            font-weight: 200;
                        }

                        .c-paragraph {
                            margin-top: 20px;
                            font-size: 20px;
                            font-weight: 100;
                        }
                    }

                    .gengxin {
                        margin-top: 20px;

                        .bt-review {
                            width: 126px;
                            height: 48px;
                            line-height: 48px;
                            color: white;
                            font-weight: bold;
                            display: inline-block;
                            background: rgb(0, 103, 184);
                            text-align: center;
                        }

                        .bt-info {
                            margin-left: 10px;
                            text-decoration: none;
                            font-size: 15px;
                            font-weight: bold;
                            color: rgb(0, 103, 184)
                        }
                    }
                }
            }

            // 4个小图
            #container {
                width: 1349px;
                height: 190px;

                #core {
                    padding: 0 12px;
                    height: 190px;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    .ul {
                        margin: 0 10px;
                        width: 90%;
                        display: flex;
                        justify-content: space-around;

                        .li {
                            text-align: center;

                            // 鼠标hover上去，图变大
                            &:hover {
                                transform: scale(1.2)
                            }

                            a {
                                text-decoration: none;

                                img {
                                    width: 60%;
                                    height: 60%;
                                }

                                .text {
                                    color: rgb(0, 93, 166);
                                    font-weight: bold;
                                    font-size: 15px;
                                }
                            }


                        }
                    }

                }
            }

            // Windows 7 的有关须知 
            .need-know {
                height: 277px;
                width: 1349px;

                .img-text {
                    height: 100%;
                    margin: 0 9%;
                    display: flex;
                    border: 1px solid black;

                    .img_style {
                        height: 277px;
                        width: 50%;
                        text-align: center;

                        img {
                            width: 70%;
                            margin-top: 40px;
                        }
                    }

                    .content {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;

                        h2,
                        p,
                        div {
                            margin-top: 20px;
                            margin-left: 10px;
                        }

                        .c-group a {
                            text-decoration: none;
                            font-size: 15px;
                            font-weight: bold;
                            color: rgb(0, 93, 166)
                        }
                    }
                }
            }

            // 轮播
            .carousel {
                // overflow: hidden;
                width: 1349px;
                height: 773px;
                position: relative;
                display: flex;
                padding: 40px 0;

                .center-carousel {
                    flex: 2;
                    margin: 0 30px;
                }

                .right-carousel {
                    flex: 1;
                }

                .left-carousel {
                    flex: 1;
                }

                .sub-carousel {
                    box-shadow: 0px 4px 25.65px 1.35px rgba(220, 220, 220, 0.39);

                    .media-wrapper {
                        position: relative;
                        height: 465px;

                        img {
                            width: 100%;
                            height: 100%;
                        }

                        .bt {
                            position: absolute;
                            top: 50%;
                            transform: translateY(-50%);
                            width: 74px;
                            height: 74px;
                            background-color: white;
                            box-shadow: 0px 4px 25.65px 1.35px rgba(122, 122, 122, 0.32);
                            border-radius: 37px;
                            border: none;
                            cursor: pointer;
                            z-index: 999;
                        }

                        .left-bt {
                            left: -40px;

                            &::before {
                                content: "<";
                                font-family: MWF-MDL2;
                                position: absolute;
                                transform: translate(-50%, -50%);
                                font-size: 26px;
                            }
                        }

                        .right-bt {
                            right: -40px;

                            &::before {
                                content: ">";
                                font-family: MWF-MDL2;
                                position: absolute;
                                transform: translate(-50%, -50%);
                                font-size: 26px;
                            }
                        }

                    }

                    .panel-content {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        text-align: center;
                        margin: 0 10px;

                        .c-heading {
                            font-size: 20px;
                            font-weight: 200;
                            padding-bottom: 10px;
                        }

                        .c-paragraph {
                            padding-bottom: 10px;
                        }

                        .mscom-link {
                            text-decoration: none;
                            color: rgb(0, 103, 191);
                            font-size: 15px;
                            font-weight: 600;
                        }
                    }

                }

            }


            // 询问社区等，4个小图
            #R8 {
                padding: 0 12px;
                height: 190px;

                #core {
                    height: 190px;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    .ul {
                        width: 60%;
                        display: flex;
                        justify-content: space-around;

                        .li {
                            text-align: center;

                            .text-decolar {
                                text-decoration: none;
                            }

                            .text {
                                color: rgb(0, 93, 166);
                                font-weight: bold;
                                font-size: 15px;
                            }
                        }
                    }

                }
            }

            // 文字
            .theme-dark {
                background: rgb(51, 51, 51);
                width: 100%;
                height: 165px;
                margin: 40px 0;
                display: flex;
                flex-direction: column;
                justify-content: space-around;

                .content {
                    padding: 0 5%;
                    color: white;
                    font-size: 10px;
                }
            }

            // 关注
            #R12 {
                padding: 0 5%;
                height: 81px;

                // 关注
                .guanzhu {
                    height: 81px;
                    display: flex;

                    span {
                        position: relative;
                        top: 5px;
                        font-size: 14px;
                        color: rgb(102, 102, 102);
                    }

                    ul {
                        display: flex;

                        .weixin,
                        .weibo {
                            margin-left: 8px;
                            list-style: none;

                            img {
                                width: 32px;
                            }
                        }
                    }
                }
            }

            //返回顶部
            #bt-top {
                position: fixed;
                bottom: 24px;
                right: 24px;
                width: 40px;
                height: 40px;
                background: rgba(0, 0, 0, .1);
                opacity: 1;
                transition: opacity 600ms;

                a {
                    text-decoration: none;

                    .go-top::before {
                        content: "顶部";
                        color: black;
                        font-family: "MWF-MDL2";
                    }
                }
            }

        }
    }
}