@charset "UTF-8";
[debug],
[debug] * {
  border: 1px solid black;
}

* {
  margin: 0;
  padding: 0;
}

* body {
  font-family: 'Segoe UI', SegoeUI, 'Microsoft YaHei', 微软雅黑, "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: white;
}

* body #headerArea {
  height: 10%;
}

* body #headerArea .theme-light {
  padding: 0 5%;
  height: 53px;
}

* body #headerArea .theme-light .c-gcontainer {
  width: 100%;
  height: 53px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

* body #headerArea .theme-light .c-gcontainer #uhfLogo {
  width: 10%;
  padding: 16px 6px 16px 10px;
  position: relative;
  top: -2px;
}

* body #headerArea .theme-light .c-gcontainer #uhfLogo .c-image {
  width: 108px;
  height: auto;
}

* body #headerArea .theme-light .c-gcontainer .c-show-pipe {
  width: 5%;
}

* body #headerArea .theme-light .c-gcontainer .c-show-pipe #uhfCatLogo {
  width: 20%;
  color: black;
  text-decoration: none;
  display: inline-block;
  padding: 16px 6px 16px 10px;
}

* body #headerArea .theme-light .c-gcontainer .c-show-pipe #uhfCatLogo span {
  font-size: 18px;
  font-weight: 600;
  position: relative;
  top: -2px;
}

* body #headerArea .theme-light .c-gcontainer #uhf-g-nav {
  width: 80%;
}

* body #headerArea .theme-light .c-gcontainer #uhf-g-nav .js-paddle-items {
  white-space: nowrap;
}

* body #headerArea .theme-light .c-gcontainer #uhf-g-nav .js-paddle-items .nested-menu {
  height: 53px;
  line-height: 53px;
  list-style: none;
  display: inline-block;
  float: left;
  margin-left: 20px;
}

* body #headerArea .theme-light .c-gcontainer #uhf-g-nav .js-paddle-items .nested-menu a {
  text-decoration: none;
  color: #262626;
  font-size: 13px;
}

* body #headerArea .theme-light .c-gcontainer #uhf-g-nav .js-paddle-items #shopping {
  border: 1px solid black;
  border-radius: 3px;
  padding: 5px;
  font-weight: 600;
}

* body #headerArea .theme-light .c-gcontainer .c-uhfh-actions {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 13px;
  padding-top: 18px;
}

* body #headerArea .theme-light .c-gcontainer .c-uhfh-actions .menu {
  width: 50%;
  height: 53px;
}

* body #headerArea .theme-light .c-gcontainer .c-uhfh-actions #meControl {
  width: 59%;
}

* body #headerArea .theme-light .c-gcontainer .c-uhfh-actions #meControl a {
  margin-left: 5px;
}

* body #mainContent .big-img {
  width: 100%;
  height: 20%;
  position: relative;
}

* body #mainContent .big-img .c-image {
  width: 100%;
  height: 100%;
}

* body #mainContent .big-img .introduce {
  width: 408px;
  height: 100%;
  padding: 0 5%;
  margin-left: 20px;
  position: absolute;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

* body #mainContent .big-img .introduce .introduce-text .c-heading {
  color: black;
  font-size: 34px;
  font-weight: 200;
}

* body #mainContent .big-img .introduce .introduce-text .c-paragraph {
  margin-top: 20px;
  font-size: 20px;
  font-weight: 100;
}

* body #mainContent .big-img .introduce .gengxin {
  margin-top: 20px;
}

* body #mainContent .big-img .introduce .gengxin .bt-review {
  width: 126px;
  height: 48px;
  line-height: 48px;
  color: white;
  font-weight: bold;
  display: inline-block;
  background: #0067b8;
  text-align: center;
}

* body #mainContent .big-img .introduce .gengxin .bt-info {
  margin-left: 10px;
  text-decoration: none;
  font-size: 15px;
  font-weight: bold;
  color: #0067b8;
}

* body #mainContent #container {
  width: 100%;
  height: 15%;
}

* body #mainContent #container #core {
  padding: 0 12px;
  height: 190px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

* body #mainContent #container #core .ul {
  margin: 0 10px;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

* body #mainContent #container #core .ul .li {
  text-align: center;
}

* body #mainContent #container #core .ul .li:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

* body #mainContent #container #core .ul .li a {
  text-decoration: none;
}

* body #mainContent #container #core .ul .li a img {
  width: 60%;
  height: 60%;
}

* body #mainContent #container #core .ul .li a .text {
  color: #005da6;
  font-weight: bold;
  font-size: 15px;
}

* body #mainContent .need-know {
  height: 30%;
  width: 100%;
}

* body #mainContent .need-know .img-text {
  height: 100%;
  margin: 0 9%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid black;
}

* body #mainContent .need-know .img-text .img_style {
  height: 100%;
  width: 50%;
  text-align: center;
}

* body #mainContent .need-know .img-text .img_style img {
  width: 70%;
  margin-top: 40px;
}

* body #mainContent .need-know .img-text .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

* body #mainContent .need-know .img-text .content h2,
* body #mainContent .need-know .img-text .content p,
* body #mainContent .need-know .img-text .content div {
  margin-top: 20px;
  margin-left: 10px;
}

* body #mainContent .need-know .img-text .content .c-group a {
  text-decoration: none;
  font-size: 15px;
  font-weight: bold;
  color: #005da6;
}

* body #mainContent .carousel {
  width: 100%;
  height: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 40px 0;
}

* body #mainContent .carousel .center-carousel {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  margin: 0 30px;
}

* body #mainContent .carousel .right-carousel {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

* body #mainContent .carousel .left-carousel {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

* body #mainContent .carousel .sub-carousel {
  -webkit-box-shadow: 0px 4px 25.65px 1.35px rgba(220, 220, 220, 0.39);
          box-shadow: 0px 4px 25.65px 1.35px rgba(220, 220, 220, 0.39);
}

* body #mainContent .carousel .sub-carousel .media-wrapper {
  position: relative;
  height: 465px;
}

* body #mainContent .carousel .sub-carousel .media-wrapper img {
  width: 100%;
  height: 100%;
}

* body #mainContent .carousel .sub-carousel .media-wrapper .bt {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 74px;
  height: 74px;
  background-color: white;
  -webkit-box-shadow: 0px 4px 25.65px 1.35px rgba(122, 122, 122, 0.32);
          box-shadow: 0px 4px 25.65px 1.35px rgba(122, 122, 122, 0.32);
  border-radius: 37px;
  border: none;
  cursor: pointer;
  z-index: 999;
}

* body #mainContent .carousel .sub-carousel .media-wrapper .left-bt {
  left: -40px;
}

* body #mainContent .carousel .sub-carousel .media-wrapper .left-bt::before {
  content: "<";
  font-family: MWF-MDL2;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 26px;
}

* body #mainContent .carousel .sub-carousel .media-wrapper .right-bt {
  right: -40px;
}

* body #mainContent .carousel .sub-carousel .media-wrapper .right-bt::before {
  content: ">";
  font-family: MWF-MDL2;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 26px;
}

* body #mainContent .carousel .sub-carousel .panel-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  margin: 0 10px;
}

* body #mainContent .carousel .sub-carousel .panel-content .c-heading {
  font-size: 20px;
  font-weight: 200;
  padding-bottom: 10px;
}

* body #mainContent .carousel .sub-carousel .panel-content .c-paragraph {
  padding-bottom: 10px;
}

* body #mainContent .carousel .sub-carousel .panel-content .mscom-link {
  text-decoration: none;
  color: #0067bf;
  font-size: 15px;
  font-weight: 600;
}

* body #mainContent #R8 {
  padding: 0 12px;
  height: 190px;
}

* body #mainContent #R8 #core {
  height: 190px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

* body #mainContent #R8 #core .ul {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

* body #mainContent #R8 #core .ul .li {
  text-align: center;
}

* body #mainContent #R8 #core .ul .li .text-decolar {
  text-decoration: none;
}

* body #mainContent #R8 #core .ul .li .text {
  color: #005da6;
  font-weight: bold;
  font-size: 15px;
}

* body #mainContent .theme-dark {
  background: #333333;
  width: 100%;
  height: 165px;
  margin: 40px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

* body #mainContent .theme-dark .content {
  padding: 0 5%;
  color: white;
  font-size: 10px;
}

* body #mainContent #R12 {
  padding: 0 5%;
  height: 81px;
}

* body #mainContent #R12 .guanzhu {
  height: 81px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

* body #mainContent #R12 .guanzhu span {
  position: relative;
  top: 5px;
  font-size: 14px;
  color: #666666;
}

* body #mainContent #R12 .guanzhu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

* body #mainContent #R12 .guanzhu ul .weixin,
* body #mainContent #R12 .guanzhu ul .weibo {
  margin-left: 8px;
  list-style: none;
}

* body #mainContent #R12 .guanzhu ul .weixin img,
* body #mainContent #R12 .guanzhu ul .weibo img {
  width: 32px;
}

* body #mainContent #bt-top {
  position: fixed;
  bottom: 24px;
  right: 24px;
  width: 40px;
  height: 40px;
  background: rgba(0, 0, 0, 0.1);
  opacity: 1;
  -webkit-transition: opacity 600ms;
  transition: opacity 600ms;
}

* body #mainContent #bt-top a {
  text-decoration: none;
}

* body #mainContent #bt-top a .go-top::before {
  content: "顶部";
  color: black;
  font-family: "MWF-MDL2";
}
/*# sourceMappingURL=windows主页.css.map */