[debug],
[debug] * {
    border: 1px solid black;
}

* {
    margin: 0;
    padding: 0;

    body {
        font-family: 'Segoe UI', SegoeUI, 'Microsoft YaHei', 微软雅黑, "Helvetica Neue", Helvetica, Arial, sans-serif;
        background-color: white;

        // 导航栏
        #headerArea {
            height: 53px;

            .theme-light {
                padding: 0 5%; //内容居中，左右间距5%
                height: 53px;

                .c-gcontainer {
                    height: 53px;
                    display: flex;

                    // Microsoft
                    #uhfLogo {
                        width: 137px;
                        padding: 16px 6px 16px 10px;
                        position: relative;
                        top: -2px;

                        .c-image {
                            width: 108px;
                            height: auto;
                        }
                    }

                    // Windows
                    .c-show-pipe {
                        width: 110px;

                        #uhfCatLogo {
                            width: 91px;
                            color: black;
                            text-decoration: none;
                            display: inline-block;
                            padding: 16px 6px 16px 10px;

                            span {
                                font-size: 18px;
                                font-weight: 600;
                                position: relative;
                                top: -2px;
                            }
                        }
                    }

                    // Windows 10 ~ 购买
                    #uhf-g-nav {
                        width: 696px;

                        .js-paddle-items {
                            white-space: nowrap;

                            .nested-menu {
                                height: 53px;
                                line-height: 53px;
                                list-style: none;
                                display: inline-block;
                                float: left;
                                margin-left: 20px;

                                a {
                                    text-decoration: none;
                                    color: #262626;
                                    font-size: 13px;
                                }
                            }

                            #shopping {
                                border: 1px solid black;
                                border-radius: 3px;
                                padding: 5px;
                                font-weight: 600;
                            }


                        }
                    }

                    // 所有Microsoft ~ 搜索购物
                    .c-uhfh-actions {
                        width: 271px;
                        display: flex;
                        font-size: 13px;
                        padding-top: 18px;

                        .menu {
                            width: 143px;
                            height: 53px;
                        }

                        #meControl {
                            width: 120px;

                            a {
                                margin-left: 5px;
                            }
                        }
                    }

                }
            }
        }

        // 中间container
        #primaryArea {

            // 体验新一代电脑的更多惊喜
            #primaryR1 {
                position: relative;

                .picture {
                    img {
                        width: 100%;
                    }
                }

                .picture-text {
                    position: absolute;
                    width: 88%;
                    height: 100%;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    margin: 0 auto;
                    color: white;

                    .text-inner {
                        margin-top: 220px;

                        .c-heading {
                            margin-bottom: 15px;
                        }
                    }


                }

            }

            // 4个图片
            #primaryR2 {
                margin: 0;
                padding: 0 5%;
                height: 515px;

                #coreui-banner {
                    height: 162px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    .c-heading {
                        margin-top: 50px;
                        font-size: 34px;
                        font-weight: 600;
                    }

                    .c-paragraph {
                        margin-top: 30px;
                        font-size: 20px;
                    }
                }

                #coreui-contentplacement {
                    height: 353px;
                    display: flex;
                    justify-content: space-around;

                    .picture {
                        width: 20%;
                        margin: 0 12px;
                        margin-top: 70px;
                        display: flex;
                        flex-direction: column;
                        text-align: center;

                        img {
                            width: 100%;
                        }

                        .c-paragraph {
                            margin-top: 10px;
                            white-space: wrap;
                        }
                    }
                }
            }

            // 笔记本大图展示
            #primaryR4 {
                overflow: hidden;
                padding: 0 5%;
                height: 760px;

                #coreui-mosaic {
                    height: 760px;
                    margin-top: 40px;

                    .line1,
                    .line2 {
                        display: flex;

                        .width-half {
                            width: 50%;
                            height: 350px;
                            display: flex;

                            .theme-light {
                                width: 50%;
                                position: relative;

                                .text {
                                    position: absolute;
                                    top: 0;
                                    height: 350px;
                                    display: flex;
                                    flex-direction: column;
                                    justify-content: center;
                                    text-align: center;
                                    font-size: 18px;
                                    padding: 0 12px;

                                    .c-subheading {
                                        font-weight: 200;
                                    }

                                    .c-group {
                                        position: absolute;
                                        bottom: 20px;
                                        left: 50%;
                                        transform: translate(-50%, 0);

                                        a {
                                            text-decoration: none;
                                            color: #000;
                                            font-size: 15px;
                                            font-weight: 700;
                                        }

                                    }
                                }
                            }

                            .theme-dark {
                                width: 50%;
                            }
                        }

                        img {
                            width: 100%;
                            height: 350px;
                        }
                    }

                }

            }

            // 水平线
            .line {
                padding: 0 60px;
            }

            // 4个小图
            #primaryR8 {
                padding: 0 12px;
                height: 190px;

                #core {

                    height: 190px;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    .ul {
                        width: 60%;
                        display: flex;
                        justify-content: space-around;

                        .li {
                            text-align: center;

                            .text-decolar {
                                text-decoration: none;
                            }

                            .text {
                                color: rgb(0, 93, 166);
                                font-weight: bold;
                                font-size: 15px;
                            }
                        }
                    }



                }
            }

            // 关注
            #R12 {
                padding: 0 5%;
                height: 233px;

                // 文字
                .wenzi {
                    width: 100%;
                    height: 100px;
                    padding-top: 40px;
                    font-size: 15px;
                    font-weight: 400;
                }

                // 关注
                .guanzhu {
                    height: 81px;
                    display: flex;

                    span {
                        position: relative;
                        top: 5px;
                        font-size: 14px;
                        color: rgb(102, 102, 102);
                    }

                    ul {
                        display: flex;

                        .weixin,
                        .weibo {
                            margin-left: 8px;
                            list-style: none;

                            img {
                                width: 32px;
                            }
                        }
                    }


                }
            }

        }

        //返回顶部
        #bt-top {
            position: fixed;
            bottom: 24px;
            right: 24px;
            width: 40px;
            height: 40px;
            background: rgba(0, 0, 0, .1);
            opacity: 1;
            transition: opacity 600ms;

            a {
                text-decoration: none;

                .go-top::before {
                    content: "顶部";
                    color: black;
                    font-family: "MWF-MDL2";
                }
            }
        }

    }
}